.homepage {
   min-height: 87vh;
   background-image: url(/assets/images/utilities/dotted-3-min.png);
   background-color: #fffcf3;
   background-position: 0px 0px;
}

@media only screen and (max-width: 768px) {
    .homepage {
        min-height: auto;
    }
}

.hero {
    .hero-intro {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 6.5rem;
        line-height: 7rem;
    }

    .hero-subtitle {
        font-size: 2.5rem;
        line-height: 3.0rem;
    }
    .hero-statement {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    @media only screen and (max-width: 768px) {
        .hero-intro {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 3.0rem;
            line-height: 3.5rem;
            text-align: center;
        }
    
        .hero-subtitle {
            font-size: 1.0rem;
            line-height: 1.5rem;
            text-align: center;
        }

        .hero-statement {
            font-size: 0.8rem;
            line-height: 1.0rem;
            text-align: center;
        }
    }
}

h5 {
    font-size: 1rem;
    line-height: 0rem;
}

.penname {
    .penname-p {
        font-size: 2.0rem;
        line-height: 0rem;
    }
    
    .penname-description {
        vertical-align: middle;
    }

    .avatar:hover {
        cursor: pointer;
        -webkit-filter: brightness(70%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    @media only screen and (max-width: 768px) {
        .penname-p {
            font-size: 2.0rem;
            line-height: 0rem;
            text-align: center;
        }
    }
    
}

img.hero-img {
    clip-path: ellipse(74% 98% at 74% 98%);
    position: absolute;
    max-width: 500px;
    right: 0px;
    bottom: 0px
}

img.hero-img-mobile {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    vertical-align: middle;
    width: 200px;
    height: 200px;
}
