h4 {
    line-height: 1rem !important;
    margin-bottom: 0px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236568bf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236568bf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}



.works-page {
    h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 4.0rem;
        line-height: 4.5rem;
    }
    h4 {
        font-size: 2.0rem;
        line-height: 2.5rem !important;
    }
    .blurb {
        font-size: 1.0rem;
        line-height: 1.5rem;
    }

    @media only screen and (max-width: 768px) {
        h1 {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 3.0rem;
            line-height: 3.5rem;
        }
    
        h4 {
            font-size: 1.0rem;
            line-height: 1.5rem !important;
        }

        .blurb {
            font-size: 0.8rem;
            line-height: 1.0rem;
        }
    }
    img.cover {
        width: 100%;
    }
}