<nav class="navbar navbar-expand-md border-bottom py-md-5 py-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list fw-bolder"></i>
        </button>
      <div class="collapse navbar-collapse text-end fw-bolder" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a [routerLink]="['/home']" class="nav-link text-center" routerLinkActive="active">
                <span>Home</span>
                <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
            </a>
            <a [routerLink]="['/works']" class="nav-link text-center" routerLinkActive="active">
                <span>Works</span>
            <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
            </a>
            <a [routerLink]="['/about']" class="nav-link text-center" routerLinkActive="active">
                <span>About</span>
            <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
            </a>
        </div>
      </div>
    </div>
  </nav>

<!-- <nav class="navbar navbar-expand-md py-auto px-1 border-bottom">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-1 navbar-brand"></div>
            <div class="d-md-none offset-10 col-1">
                <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list fw-bolder"></i>
                </button>
            </div>
            <div class="offset-7 col-5 collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row w-100 fw-bold navbar-nav">
                    <div class="col-4 text-center nav-item">
                        <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">
                            <span>Home</span>
                            <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
                        </a>
                    </div>
                    <div class="col-4 text-center nav-item">
                        <a [routerLink]="['/works']" class="nav-link" routerLinkActive="active">
                            <span>Works</span>
                        <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
                        </a>
                    </div>
                    <div class="col-4 text-center nav-item">
                        <a [routerLink]="['/about']" class="nav-link" routerLinkActive="active">
                            <span>About</span>
                        <img src="./ejvalen/assets/images/utilities/underline.png" loading="eager" width="63" alt="" class="underline-img current opacity-75">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav> -->